/src/.vs
/src/packages
/src/alipay-sdk-NET-20180104135059/obj
/src/alipay-sdk-NET-20180104135059/bin
/src/AlipayAsyncNotifyWeb/obj
/src/AlipayAsyncNotifyWeb/bin
/src/AlipayAsyncNotify/obj
/src/AlipayAsyncNotify/bin
